/* Class for hiding elements but keeping them visible to screen readers */

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.hidden {
  display: none !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: var(--spacing-md);
}

.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: auto;
}

/* TABLE */
caption {
  position: relative;
  margin-bottom: var(--spacing-xl);
}

td {
  padding: var(--spacing-sm) var(--spacing-md);
  border: var(--border-sm) solid var(--cl-primary);
}

td:nth-child(2),
td:nth-child(3) {
  text-align: left;
}

td:nth-child(4) {
  text-align: end;
}

th {
  font-size: 1.1rem;
  padding: var(--spacing-sm) var(--spacing-l);
}

.table {
  border-collapse: collapse;
}

.table__header {
  background: var(--cl-secondary);
  color: var(--cl-white);
}

.table__body > :nth-child(2n) {
  background-color: var(--cl-light);
}

/* BTNS */
.btn {
  width: 2rem;
  height: 2rem;
  border-radius: var(--border-md);
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: none;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  opacity: 1;
  border-radius: 30%;
  color: var(--cl-white);
}

.btn--main {
  font-weight: 700;
  font-size: 1.2rem;
}

.btn--main:hover {
  background-color: var(--cl-secondary);
}

.btn--alert:hover,
.btn--alert:focus-visible {
  background-color: var(--cl-danger);
}

.btn--success:hover,
.btn--success:focus-visible {
  background-color: var(--cl-success);
}

.checkbox {
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  top: 0.2rem;
  cursor: pointer;
}

.checkbox:focus-visible {
  outline-color: var(--cl-primary);
}

/* INPUTS */
.input__field {
  padding: var(--spacing-xs) var(--spacing-md);
  border-radius: 0.3rem;
  border: 0.1rem solid var(--cl-primary);
}

.input__field:focus:user-invalid {
  border-color: var(--cl-danger);
}

.input__field:valid {
  border-color: var(--cl-success);
}

.input__field:focus-visible {
  outline: none;
  border: 0.1rem solid var(--cl-dark);
}

.input__field:disabled {
  text-align: center;
  background-color: var(--cl-white);
  border: none;
}

.input__field:not(:disabled) {
  max-width: 8rem;
}

/* FOOTER */
.footer__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
}

.footer__icon {
  width: 2.5rem;
}

/* User-message */
.message {
  font-weight: 700;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translate(-50%);
  top: 1.5rem;
}

.message--success {
  color: var(--cl-success);
}

.message--success:before,
.message--success:after {
  content: "🎉";
}

.message--alert {
  color: var(--cl-danger);
}

.message--alert:before,
.message--alert:after {
  content: "❌";
}

@media (max-width: 760px) {
  th:first-child,
  td:first-child:not([data-cell="add"]) {
    display: none;
  }

  th,
  td {
    padding: var(--spacing-xs) var(--spacing-xs);
  }
}
